body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;  background-image:url(../images/bg.gif); 
  background-repeat:repeat-x;background-color:#310016 ; 
	text-align: center;	/* IE-Win hack */
}
h1 {font-size:24px; 
    font-family:"Comic Sans MS";
	color:#F9C;}

a:link { color:#F00;}      /* link nevizitat */
a:visited {color:#F00;}  /* link vizitat */
a:hover { color:#C00;}  /* link cu mouse-over*/
a:active {color:#F00;}  /* link selectat */

input { width:150px;}
textarea { width:150px;}
table { text-align:left;}
	
.meniu {
  font-family: Comic Sans MS;
  width: 160px;
  text-align: left;
  }
.meniu .sus {
  background-image: url(images/sus.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  font-size: 20px;
  color: #666666;
  }
.meniu .ne {
	text-align: center;
	padding: 21px 25px 6px 25px;
}
.meniu .mijloc {
  background-image: url(images/mijloc.png);
  background-repeat: repeat-y;
  background-position: top left;
  margin: 0;
  text-align: left;
  color: #000000;
  font-size: 12px;
  }
.meniu .mne {
	padding: 10px 25px;
}
.meniu .jos {
  background-image: url(images/jos.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  text-align: left;
  padding: 10px;
  height: 23px;
  }
  
.mare {
  font-family: Comic Sans MS;
  width: 500px;
  text-align: left;
  }
.mare .sus {
  background-image: url(images/sus2.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  font-size: 20px;
  color: #666666;
  }
.mare .ne {
	text-align: center;
	padding: 21px 25px 6px 25px;
}
.mare .mijloc {
  background-image: url(images/mijloc2.png);
  background-repeat: repeat-y;
  background-position: top left;
  margin: 0;
  text-align: left;
  color: #000000;
  font-size: 12px;
  }
.mare .mne {
	padding: 10px 25px;
}
.mare .jos {
  background-image: url(images/jos2.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  text-align: left;
  padding: 10px;
  height: 23px;
  }